services:
  backend:
    build: ./backend
    container_name: backend-service
    ports:
      - "5000:5000"
    volumes:
      - ./backend/images:/app/images
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend-service
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    restart: unless-stopped
